## Part 1: Preprocessing

In [13]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [14]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [15]:
# Create y_df with the Attrition and Department columns
y_df_attr = attrition_df[['Attrition']]
y_df_attr.head()

y_df_dept = attrition_df[['Department']]
y_df_dept.head()

               Department
0                   Sales
1  Research & Development
2  Research & Development
3  Research & Development
4  Research & Development

In [16]:
attrition_df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,Research & Development,23,2,Medical,3,41,4,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,Research & Development,6,1,Medical,4,42,2,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,Research & Development,4,3,Life Sciences,2,87,4,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,Sales,2,3,Medical,4,63,2,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,Research & Development,8,3,Medical,2,82,4,...,3,1,0,6,3,4,4,3,1,2

In [17]:
# Create a list of at least 10 column names to use as X data
X_df = attrition_df[[
    "Education", "Age", "DistanceFromHome",
    "JobSatisfaction","StockOptionLevel", "OverTime", 
    "WorkLifeBalance", "YearsAtCompany", "NumCompaniesWorked"
]]

# Create X_df using your selected columns
# Show the data types for X_df
X_df

,Education,Age,DistanceFromHome,JobSatisfaction,StockOptionLevel,OverTime,WorkLifeBalance,YearsAtCompany,NumCompaniesWorked
0,2,41,1,4,0,Yes,1,6,8
1,1,49,8,2,1,No,3,10,1
2,2,37,2,3,0,Yes,3,0,6
3,4,33,3,3,0,Yes,3,8,1
4,1,27,2,2,1,No,3,2,9
...,...,...,...,...,...,...,...,...,...
1465,2,36,23,4,1,No,3,5,4
1466,1,39,6,1,1,No,3,7,4
1467,3,27,4,2,1,Yes,3,6,1
1468,3,49,2,2,0,No,2,9,2
1469,3,34,8,3,0,No,4,4,2

In [18]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train_attr, y_test_attr, y_train_dept, y_test_dept = train_test_split(X_df, y_df_attr, y_df_dept)

In [19]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_train["OverTime"] = LabelEncoder().fit_transform(X_train["OverTime"])
X_test["OverTime"] = LabelEncoder().fit_transform(X_test["OverTime"])

In [20]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_Scaled = scaler.fit_transform(X_test)

In [21]:
# Create a OneHotEncoder for the Department column
dept_encoder = OneHotEncoder(sparse=False)
# Fit the encoder to the training data

# Create two new variables by applying the encoder
# to the training and testing data

dept_encoder.fit(np.array(y_train_dept['Department']).reshape(-1, 1))
y_department_train = dept_encoder.transform(np.array(y_train_dept['Department']).reshape(-1, 1))
y_department_test = dept_encoder.transform(np.array(y_test_dept['Department']).reshape(-1, 1))

y_department_train

/Users/ryangoda/anaconda3/envs/Dev_2Hail/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [22]:
# Create a OneHotEncoder for the Attrition column
attr_encoder = OneHotEncoder(sparse=False)
# Fit the encoder to the training data


# Create two new variables by applying the encoder
# to the training and testing data
attr_encoder.fit(np.array(y_df_attr['Attrition']).reshape(-1, 1))

attr_train_encoded = attr_encoder.transform(np.array(y_train_attr['Attrition']).reshape(-1, 1))
attr_test_encoded = attr_encoder.transform(np.array(y_test_attr['Attrition']).reshape(-1, 1))

attr_train_encoded

/Users/ryangoda/anaconda3/envs/Dev_2Hail/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

## Create, Compile, and Train the Model

In [23]:
# Find the number of columns in the X training data
num_cols = X_train_scaled.shape[1]

# Create the input layer
input_layer = layers.Input([num_cols,], name="input_layer")

#hidden1 = layers.Dense(units=64, activation='relu', name="hidden1")(input_layer)


#output1 = layers.Dense(units=2,  activation='softmax', name="output1")(hidden1)
# Create at least two shared layers

shared_layer1 = layers.Dense(64, activation='relu', name="shared1")(input_layer)
shared_layer2 = layers.Dense(128, activation='relu', name="shared2")(shared_layer1)

In [24]:
# Create a branch for Department
# with a hidden layer and an output layer
dept_hidden_layer = layers.Dense(32, activation='relu', name="dept_hidden_layer")(shared_layer2)
# Create the hidden layer
dept_output_layer = layers.Dense(3, activation='softmax', name='dept_output_layer')(dept_hidden_layer)

# Create the output layer

In [25]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attr_hidden = layers.Dense(units=32, activation='relu', name='attr_hidden')(shared_layer2)

# Create the output layer
attr_output = layers.Dense(units=2, activation='sigmoid', name='attr_output')(attr_hidden)

In [26]:
# Create the model
model = Model(inputs=input_layer, outputs=[dept_output_layer, attr_output])

# Compile the model
model.compile(optimizer='adam',
              loss={"attr_output": "binary_crossentropy",
                    "dept_output_layer": "categorical_crossentropy"},
            metrics={"attr_output": "accuracy", 
                    "dept_output_layer": "accuracy"})

# Summarize the model
model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer         │ (None, 9)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ shared1 (Dense)     │ (None, 64)        │        640 │ input_layer[0][0] │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ shared2 (Dense)     │ (None, 128)       │      8,320 │ shared1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dept_hidden_layer   │ (None, 32)        │      4,128 │ shared2[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attr_hidden (Dense) │ (None, 32)        │      4,128 │ shared2[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dept_output_layer   │ (None, 3)         │         99 │ dept_hidden_laye… │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attr_output (Dense) │ (None, 2)         │         66 │ attr_hidden[0][0] │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 17,381 (67.89 KB)

 Trainable params: 17,381 (67.89 KB)

 Non-trainable params: 0 (0.00 B)

In [27]:
# Train the model
model.fit(
    X_train_scaled,
    {
        "attr_output": attr_train_encoded,
        "dept_output_layer": y_department_train
    },
    epochs=50)

Epoch 1/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - attr_output_accuracy: 0.7367 - dept_output_layer_accuracy: 0.6112 - loss: 1.5238
Epoch 2/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attr_output_accuracy: 0.8320 - dept_output_layer_accuracy: 0.6507 - loss: 1.2114
Epoch 3/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8295 - dept_output_layer_accuracy: 0.6599 - loss: 1.1953
Epoch 4/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8475 - dept_output_layer_accuracy: 0.6611 - loss: 1.1171
Epoch 5/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8455 - dept_output_layer_accuracy: 0.6475 - loss: 1.1410
Epoch 6/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.8450 - dept_output_layer_accuracy: 0.6618 - loss: 1.0915
Epoch 7/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8459 - dept_output_layer_accuracy: 0.6626 - loss: 1.1313
Epoch 8/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.8611 - dept_output_layer_accuracy: 0.6744 - loss: 1.0618
Epoch 9/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.8473 - dept_output_layer_accuracy: 0.6345 - loss: 1.1214
Epoch 10/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8601 - dept_output_layer_accuracy: 0.6426 - loss: 1.0698
Epoch 11/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8512 - dept_output_layer_accuracy: 0.6528 - loss: 1.0449
Epoch 12/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8781 - dept_output_layer_accuracy: 0.6852 - loss: 0.9865
Epoch 13/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8783 - dept_output_layer_accuracy: 0.6682 - loss: 1.0069
Epoch 14/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8737 - dept_output_layer_accuracy: 0.6724 - loss: 0.9970
Epoch 15/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.8908 - dept_output_layer_accuracy: 0.6621 - loss: 0.9884
Epoch 16/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8879 - dept_output_layer_accuracy: 0.7006 - loss: 0.9516
Epoch 17/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8693 - dept_output_layer_accuracy: 0.6911 - loss: 0.9646
Epoch 18/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.8841 - dept_output_layer_accuracy: 0.7039 - loss: 0.9413
Epoch 19/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - attr_output_accuracy: 0.8822 - dept_output_layer_accuracy: 0.7101 - loss: 0.9195
Epoch 20/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8705 - dept_output_layer_accuracy: 0.6879 - loss: 0.9512
Epoch 21/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8885 - dept_output_layer_accuracy: 0.7166 - loss: 0.9086
Epoch 22/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8958 - dept_output_layer_accuracy: 0.7350 - loss: 0.8735
Epoch 23/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8899 - dept_output_layer_accuracy: 0.6944 - loss: 0.9032
Epoch 24/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8747 - dept_output_layer_accuracy: 0.7647 - loss: 0.8376
Epoch 25/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9012 - dept_output_layer_accuracy: 0.7260 - loss: 0.8362
Epoch 26/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8833 - dept_output_layer_accuracy: 0.7549 - loss: 0.8255
Epoch 27/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8896 - dept_output_layer_accuracy: 0.7705 - loss: 0.8009
Epoch 28/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8997 - dept_output_layer_accuracy: 0.7647 - loss: 0.7852
Epoch 29/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.9060 - dept_output_layer_accuracy: 0.7756 - loss: 0.7601
Epoch 30/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8882 - dept_output_layer_accuracy: 0.7909 - loss: 0.7447
Epoch 31/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.9143 - dept_output_layer_accuracy: 0.7842 - loss: 0.7203
Epoch 32/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.9052 - dept_output_layer_accuracy: 0.7686 - loss: 0.7307
Epoch 33/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9170 - dept_output_layer_accuracy: 0.8031 - loss: 0.6896
Epoch 34/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9118 - dept_output_layer_accuracy: 0.8245 - loss: 0.6691
Epoch 35/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.9141 - dept_output_layer_accuracy: 0.8301 - loss: 0.6330
Epoch 36/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9204 - dept_output_layer_accuracy: 0.8113 - loss: 0.6503
Epoch 37/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9180 - dept_output_layer_accuracy: 0.8343 - loss: 0.6316
Epoch 38/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9159 - dept_output_layer_accuracy: 0.8383 - loss: 0.6106
Epoch 39/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.9239 - dept_output_layer_accuracy: 0.8584 - loss: 0.5691
Epoch 40/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.9164 - dept_output_layer_accuracy: 0.8595 - loss: 0.5690
Epoch 41/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9231 - dept_output_layer_accuracy: 0.8481 - loss: 0.5733
Epoch 42/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9392 - dept_output_layer_accuracy: 0.8600 - loss: 0.5399
Epoch 43/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9297 - dept_output_layer_accuracy: 0.8599 - loss: 0.5160
Epoch 44/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9277 - dept_output_layer_accuracy: 0.8721 - loss: 0.5266
Epoch 45/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9539 - dept_output_layer_accuracy: 0.8416 - loss: 0.5383
Epoch 46/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.9434 - dept_output_layer_accuracy: 0.8769 - loss: 0.4762
Epoch 47/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.9418 - dept_output_layer_accuracy: 0.8845 - loss: 0.4666
Epoch 48/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attr_output_accuracy: 0.9519 - dept_output_layer_accuracy: 0.8951 - loss: 0.4360
Epoch 49/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.9580 - dept_output_layer_accuracy: 0.8948 - loss: 0.4293
Epoch 50/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attr_output_accuracy: 0.9567 - dept_output_layer_accuracy: 0.9074 - loss: 0.4190

In [35]:
# Evaluate the model with the testing data
results = model.evaluate(
    X_test_Scaled,
    {
        "attr_output": attr_test_encoded,
        "dept_output_layer": y_department_test
    })

results

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attr_output_accuracy: 0.8610 - dept_output_layer_accuracy: 0.6276 - loss: 1.5398

[1.7071632146835327, 0.8586956262588501, 0.592391312122345]

In [40]:
# Print the accuracy for both department and attrition
print(f"Dept Pred Acc: {results[2]}")
print(f"Attr Pred Acc: {results[1]}")

Dept Pred Acc: 0.592391312122345
Attr Pred Acc: 0.8586956262588501

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. I do not believe the accuracy is the best metric to use on this data. This would be due to the low number of epochs, as well as the fact we only used a limited amount of layers.
2. I used softmax for the output. I did this as it takes our K into different probabilites, as well as it being a metric generalization of logistic regression.
3. More layers and testing different activation functions.